@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');

.App {
    width: 100wh;
    height: 98vh;
}

.scrollable {
    width: 100%;
    height: 100%;
}

.App-back {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    width: 4000px;
    height: 4000px;
    left: -2000px;
    right: -2000px;
}
.workspace {
    position: relative;
}
.box {
    position: absolute;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    left: 200px;
    top: 400px;
    border: 1px solid #27C8B4;
    border-radius: 5px;
    padding: 10px 0;
}

.box:hover {
  border-color: gold;
  cursor: pointer;
}

.box p{
  display: block;
  width: 240px;
}

.btn-upload {
    position: absolute;
    width: 121px;
    height: 36px;
  
    background: #FFFFFF;
    border: 1px solid #27C8B4;
    box-sizing: border-box;
    border-radius: 5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 18px 11px 36px;
    color: #27C8B4;
    
    transition: all 0.2s ease;
  }

  .btn-upload p {
    margin:0;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn-input-hide {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
  }

  .vector1 {
    position: absolute;
    top: 11px;
    right: 93px;
    bottom: 14px;
    left: 19px;
    opacity: 1;
    cursor: pointer;
  }
  
  .vector2{
    position: absolute;
    top: 11px;
    right: 93px;
    bottom: 14px;
    left: 19px;
    opacity: 0;
  }
  
  .btn-upload:hover {
    background: #27C8B4;
    color: white;
  }
  
  .btn-upload:hover .vector1 {
    opacity: 0;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .btn-upload:hover .vector2 {
    opacity: 1;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .btn-save {
    position: absolute;
    left: 300px;
  }
  .btn-add {
    position: absolute;
    left: 200px;
  }

  .editor-container {
    display: inline-block;
    position: fixed;
    top: 0;
    transition: 1s;
  }

  .active {
    right:0;
  }
  .inactive {
    right: -400px;
  }

  .DraftEditor-root {
    width: 300px;
    height: 300px;

    background-color: beige;
  }
  .DraftEditor-editorContainer,
  .public-DraftEditor-content {
    height: 100%;
  }